body{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
	background-color: #315f70;
	color: white;
	font-family: 'Raleway', sans-serif;
}
/*
#canvas{
	display: none;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}*/

/* .parent { */
  /* display: inline-flex; */
  /* flex-direction: row; */
    /* align-items: center; */
/* } */

/* .parent > div { */
        /* flex: 1; */
        /* padding: 10px; */
/* } */

/* #canvas{ */
	/* display: none; */
/* } */
/* h1 { */
  /* font-size: 3rem; */
/* } */
/* .left { */
  /* order: 1; */
  /* flex: 1; */
/* } */
/* .right { */
  /* order: 2; */
  /* flex: 1; */
/* } */
/* video { */

  /* max-width: 70%; */
  /* max-height: 70%; */
/* } */
/* img { */

  /* max-width: 70%;
  max-height: 70%; */
  /* width: auto; */
  /* height: auto; */
/* } */

.container {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.top {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  flex: 2;
  background-color: pink;
  
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  
  -webkit-flex-flow: row nowrap;
  justify-content: space-around;
}
.top > div {
  padding: 5px;
}
.video {
}
/* .video { */
  /* flex: 1; */
  /* flex-grow: 1; */
  /* width:100%; */
  /* order: 1; */
/* } */
/* .copyface { */
  /* order: 2; */
  /* max-width: 50%; */
  /* width: auto; */
  /* height: auto; */
  /* right: 0; */
/* } */
.bottom {
  flex: 1;
  background-color: red;
}
