body{
	background-color: #3c5072;
	color: white;
	font-family: 'Raleway', sans-serif;
}
/*
#canvas{
	display: none;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}*/

.parent {
    display: flex;
    align-items: center;
}

.parent > div {
        flex: 1;
    }

#canvas{
	display: none;
}