<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>Face Matcher</title>

</head>
<body>

	<h1>
		Face Matcher
	</h1>

	<div class="camera">
		<video id="video" muted="muted">Video stream not available.</video>
		<button id="startbutton">Take photo</button>
	</div>

	<canvas id="canvas"></canvas>
	<div id="out_container">
		<img id="result">
	</div>

	<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>