<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/fullpage.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/landingstyles.css') }}" rel="stylesheet">

    <title>Face Matcher</title>

</head>
<body>

	<div id="fullpage">
		<div class="section">
	    	<div id="title_page">
	        	Make a Face!
	        </div>
	        <br/>
	        <br/>
	        <a id="play_button_link" href="#instructions/0">
	        	<div id="play_button">
	        		Play
	        	</div>
        	</a>
	    </div>
	    <div class="section">
	        <div class="slide" data-anchor="slide1">
	        	<div id="instr_page">
		        	How to play:
			        It's simple. You'll see a face appear on the right side of your screen.
			    </div>
	    	</div>
	    	<div class="slide" data-anchor="slide2">
	    		<div id="instr_page">
		        	All you have to do is mimic that face to score a point! For each face, try to mimic a given face as quickly as possible. 
		        </div>
		    </div>
		    <div class="slide" data-anchor="slide3">
	    		<div id="instr_page">
		        	You'll also see a scale of emotional and positional coefficients. These are calculated relative to the emotions and positions of the face shown in the lower right hand corner. Use these as a guide to help you form your facial expressions.
		        </div>
		    </div>
		    <div class="slide" data-anchor="slide4">
	    		<div id="instr_page">
		        	When the average of the emotional and positional coefficients surpass a threshold of 60%, you get a point!
		        </div>
		    </div>
	        <div class="slide" data-anchor="slide5">
	        	<div id="instr_page">
		        	You can also scroll through different faces to choose one you'd like to imitate. Have fun!
	        	</div>
	        	<br/>
	        	<br/>
	        	<br/>
	        	<a id="get_started_link" href="/game">
		        	<div id="get_started">
		        		Get Started!
		        	</div>
	        	</a>
	    	</div>
	    </div>
	    
	</div>
	<div id="footer">
    	Made with ❤️ by Team Shallow Learning. Code Coverage: 100%.
    </div>
    <div id="footer2">
    	Made with ❤️ by Team Shallow Learning. Code Coverage: 100%.
    </div>

	<script src="{{ url_for('static', filename='js/fullpage.js') }}"></script>
	<script>
	new fullpage('#fullpage', {
	  	sectionsColor: ['#3c5072', '#315f70'],
		loopHorizontal: false,
		anchors:['landing', 'instructions']
	});
	</script>

</body>
</html>